{
  "swagger": "2.0",
  "info": {
    "title": "PutCommit",
    "description": "The Microsoft Azure Network Group API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.",
    "version": "2024-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/commits/{commitName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/CommitNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PutCommits"
        ],
        "operationId": "PutCommits_Get",
        "description": "Gets the specified network group.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the network group.",
            "schema": {
              "$ref": "#/definitions/PutCommit"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutCommitsGet": {
            "$ref": "./examples/NetworkManagerPutCommitGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PutCommits"
        ],
        "operationId": "PutCommits_CreateOrUpdate",
        "description": "Creates or updates a commit.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutCommit"
            },
            "description": "Parameters supplied to the specify which commit need to create"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the commit.",
            "schema": {
              "$ref": "#/definitions/PutCommit"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag.",
                "type": "string"
              }
            }
          },
          "201": {
            "description": "Created - Returns information about the commit.",
            "schema": {
              "$ref": "#/definitions/PutCommit"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutCommitsPut": {
            "$ref": "./examples/NetworkManagerPutCommitPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PutCommits"
        ],
        "operationId": "PutCommits_Delete",
        "description": "Deletes a commit.",
        "parameters": [
          {
            "$ref": "#/parameters/ForceDeleteParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "202": {
            "description": "Accepted and will complete asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "PutCommitsDelete": {
            "$ref": "./examples/NetworkManagerPutCommitDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/commits": {
      "get": {
        "tags": [
          "PutCommits"
        ],
        "operationId": "PutCommits_List",
        "description": "Lists the specified commit.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the network group.",
            "schema": {
              "$ref": "#/definitions/PutCommitListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutCommitsList": {
            "$ref": "./examples/NetworkManagerPutCommitList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PutCommit": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PutCommitProperties",
          "description": "The Put Commit properties"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata related to this resource.",
          "$ref": "./network.json#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ChildResource"
        }
      ],
      "description": "The commit resource"
    },
    "PutCommitListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PutCommit"
          },
          "description": "Gets a page of PutCommit"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Result of the request to list NetworkGroup. It contains a list of groups and a URL link to get the next set of results."
    },
    "PutCommitProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the network group."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        },
        "resourceGuid": {
          "type": "string",
          "readOnly": true,
          "description": "Unique identifier for this resource."
        },
        "commitType": {
          "type": "string",
          "$ref": ".networkManager.json/definitions/ConfigurationType",
          "description": "Commit Type."
        },
        "configurationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of configuration ids."
        },
        "targetLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of target locations."
        },
        "activeLocations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of active locations."
        },
        "commitTag": {
          "type": "string",
          "description": "Unique identifier for this commit."
        }
      },
      "required": [
        "targetLocations",
        "commitType"
      ],
      "description": "Properties of network group"
    },
    "QueryRequestOptions": {
      "type": "object",
      "properties": {
        "skipToken": {
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.",
          "type": "string"
        }
      },
      "description": "Query Request Options"
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "CommitNameParameter": {
      "name": "networkGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network group.",
      "x-ms-parameter-location": "method"
    },
    "StaticMemberNameParameter": {
      "name": "staticMemberName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the static member.",
      "x-ms-parameter-location": "method"
    },
    "ListTopParameter": {
      "name": "$top",
      "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skipToken",
      "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ForceDeleteParameter": {
      "name": "force",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.",
      "x-ms-parameter-location": "method"
    }
  }
}
